<!-- <form accept-charset="UTF-8" action="/users" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="username">Username:</label>
  <br><input type="text" name="user[username]"><br>

  <label for="email">Email:</label>
  <br><input type="text" name="user[email]"><br>

  <label for="password">Password:</label>
  <br><input type="password" name="user[password]"><br>

  <input type="submit" value="Submit">
</form> -->

<!-- <%= form_tag("/users", method: :post) do %>
<%= label_tag("username", "Username:") %><br>
<%= text_field_tag("username") %><br>
<%= label_tag("email", "Email:") %><br>
<%= text_field_tag("email") %><br>
<%= label_tag("password", "Password:") %><br>
<%= password_field_tag("password") %><br>
<%= submit_tag("Submit") %>
<% end %> -->

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
      <div id="Error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
  <% end %>
  
  <%= f.label :username %> <br>
  <%= f.text_field :username %> <br>

  <%= f.label :email %> <br>
  <%= f.text_field :email, value: "example@email.com" %> <br>

  <%= f.label :password %> <br>
  <%= f.password_field :password %> <br>

  <%= f.submit %>
<% end %>