<div class="jumbotron">

<% if !logged_in? %>
  <h1>Plan Your Events</h1>
  <h2>Sign up now</h2>

  <%= bootstrap_form_for(@user) do |f| %>
    <%= f.text_field :name %>
	<%= f.email_field :email %>
    <%= f.submit "Creat new account",  class: "btn btn-large btn-primary" %>
    <span class="login">
    or <%= link_to 'Log in', login_path %>
    </span>
  <% end %>

<% else %>
  <%= render 'user_home' %>
<% end %>

</div>